@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Helvetica;
    src: url(../../public/fonts/Helvetica.ttf);
}

@font-face {
    font-family: Helvetica-bold;
    src: url(../../public/fonts/Helvetica-Bold.ttf);
}


.helvetica-bold {
    font-family: Helvetica-bold;
}



 * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}
